<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="grey-bg">

    <%- include('nav.ejs')%>
<div class="white-bg">
    <% for(let i = 0; i < кЄАл™©л°Э.length; i++){ %>
        <div class="list-box">
            <h4><a href="/detail/<%= кЄАл™©л°Э[i]._id %>"><%= кЄАл™©л°Э[i].title  %></a>
            <a href="/edit/<%= кЄАл™©л°Э[i]._id %>">вЬПпЄП</a>
            <span class="delete" data-id="<%= кЄАл™©л°Э[i]._id %>">рЯЧСпЄП</span>
        </h4>
            <p><%= кЄАл™©л°Э[i].content  %></p>
         </div>
   <% }%>
 
<script>
    for(let i=0; i < '<$= кЄАл™©л°Э.length %>'; i++){
    document.querySelectorAll('.delete')[i].addEventListener('click', function(e){
        fetch('/delete?docid='+e.target.dataset.id,{
            method : 'DELETE'
        })
        .then((r) => r.text())
        .then((r) =>{console.log(r)
        
        })
    })
    }
 
</script>

</div> 
</body>
</html>